Repository TEAM-NODAJI/What-s-on-my-desk, pull requests merged in 2023-02, with the labels that each got.

#26 Feat/날씨기능
  .gitignore
  README.md
  assets/images/polaroid.png
  assets/script/clock.js
  assets/script/weather.js
  assets/style/globalStyle.css
  assets/style/style.css
  index.html
Labels: documentation, enhancement, style

#27 Feat/메모장
  memo/memo.css
  memo/memo.html
  memo/memo.js
Labels: enhancement, style

#29 Feat/메모장
  README.md
  assets/images/memo.png
  assets/images/memoPen.png
  assets/script/memo.js
  assets/style/globalStyle.css
  assets/style/memo.css
  assets/style/style.css
  assets/style/whatFood.css
  index.html
  memo/memo.html
Labels: enhancement, style

#30 Fix/calculator
  assets/script/calculator.js
  assets/style/calculator.css
  index.html
Labels: bug, enhancement, style

#32 :wrench: [change] apikey 난독화
  .gitignore
  apikey.js
Labels: bug

#34 Style/edit css
  assets/images/arm.png
  assets/images/logo.png
  assets/images/tablet.png
  assets/images/tabletArm.png
  assets/script/weather.js
  assets/style/style.css
Labels: style

#36 :art:[change] 계산기 넓이 수정
  assets/style/calculator.css
Labels: style
