Repository TEAM-NODAJI/What-s-on-my-desk, pull requests merged in 2023-01, with the labels that each got.

#13 style/오늘뭐먹지 modal 레이아웃 구현
  assets/script/whatFood.js
  assets/style/style.css
  assets/style/whatFoodStyle.css
  index.html
Labels: enhancement

#18 :art: [change] 메뉴판 style 수정
  assets/script/coffee.js
  assets/style/coffee.css
Labels: style

#21 Feat/메모장 로컬스토리지 사용하여 추가/삭제 기능 구현
  memo/memo.css
  memo/memo.html
  memo/memo.js
Labels: enhancement

#23 Feat/오늘뭐먹지 랜덤 pick 기능 애니메이션 추가
  assets/script/whatFood.js
  assets/style/whatFoodStyle.css
  index.html
Labels: enhancement

#24 Feat/caculator
  assets/script/calculator.js
  assets/style/calculator.css
  assets/style/globalStyle.css
  index.html
Labels: enhancement, style

#25 :art: [change] 커피스크롤바 커스터마이징
  assets/style/coffee.css
Labels: style
